  
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="../../index.php" class="navbar-brand p-0">
                    <h1 class="m-0"></h1>
                    <img src="../../img/imgavatar.png" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0">
                        <a href="../../index.php#acceuil" class="nav-item nav-link">Acceuil</a>
                        <a href="../../index.php#about" class="nav-item nav-link">À propos de moi</a>
                        <!-- <a href="../../view/entreprise/entreprise.php" class="nav-item nav-link">Entreprise</a> -->
                        <a href="../../index.php#projet" class="nav-item nav-link active">Projets & Veilles</a>
                        <a href="../../index.php#footer" class="nav-item nav-link">Contact</a>
                    </div>
                    <a href="" class="btn rounded-pill py-2 px-4 ms-3 d-none d-lg-block">Actualiser</a>
                </div>
            </nav>
        </div>
        <!-- Navbar & Hero End -->